


<form action="/checkboxes" method="post">


  <div class="checkbox">
    <label>
      <input name= "checkbox" type="checkbox" value="1">
      value 1
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input name= "checkbox" type="checkbox" value="2">
      value 2
    </label>
  </div>

  <button type="submit" name="deleteCategory" class="btn btn-danger">Send value</button>

</form>
